.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.login-form {
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}
.login-inputs {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

.login-input-field {
  width: 50%;
  height: 100%;
  border: none;
  outline: none;
  border: 2px solid black;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
  padding-left: 30px;
}
.login-button {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lgn-btn {
  width: 150px;
  height: 70px;
  border: none;
  border-radius: 20px;
  background-color: rgb(252, 252, 71);
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.login-title {
  font-size: 6em;
  font-family: courier;
  font-weight: bolder;
  color: rgb(0, 122, 170);
}

.login-toggle {
  width: 10vw;
  height: 10vh;
  position: absolute;
  top: 10vh;
  right: 10vw;
}

.login-toggle-btn {
  width: 250px;
  height: auto;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(0, 122, 170);
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
}

.login-toggle-btn:active {
  filter: grayscale(150%);
}
