body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

h1 {
  font-size: 5em;
}

.flex-centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-link {
  color: white;
  text-decoration: none;
  border: 0px;
  outline: none;
}

button:disabled {
  color: rgb(7, 7, 7);
}
